<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("head") %>
        <link rel="shortcut icon" href="images/AtencionUsuarioIcon.png">
        <!-- Para la navbar: (menu despegable Cerrar Sesión) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="stylesheets/navbar.css" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <nav class="row bg-dark fixed">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logoUCM">
                <a href="https://ucm.es/">
                    <img src="images/logoUCMVector.svg" title="www.ucm.es" alt="Logo de la UCM" width="75" height="75">
                </a>
            </div>
            <div class="tituloYSubtitulo text-center">
                <h4><strong>UCM - CAU</strong></h4>
                <h5><strong>Centro de Atención al Usuario</strong></h5>
            </div>
            <div class="perfilUsuario d-flex align-items-center">
                <span class="nombreUsuario" title="Nombre del Usuario">
                    <%= nameUser %>
                </span>
                
                <div class="dropdown ">
                    <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
                        <h1 id="idUserPerfilNavbar" style="display: none;"><%=idUser%></h1>
                        <h1 id="rolUserPerfilNavbar" style="display: none;"><%=rol%></h1>
                        <img class="rounded-circle fotoPerfil" src="images/<%=idUser%>" title="Foto del Usuario" alt="Foto del Usuario" width="75" height="75"/>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end bg-dark">
                        <li title="Desplegar información del Usuario">
                            <div id="clickModalPerfil" class="dropdown-item perfil d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#modalPerfil">
                                Perfil
                                <span><img src="images/usuarioBlancoVector.svg" alt="Perfil Usuario" width="25" height="25"></span>
                            </div>
                        </li>
                        <li title="Cerrar Sesión">
                            <a class="dropdown-item cerrarSesion d-flex justify-content-between" href="./logOut.html">
                                Cerrar Sesión	
                                <span><img src="images/logOutVector.svg" alt="Log-Out" width="25" height="25"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Modal para Pefil Usuario -->
    <div class="modal fade" id="modalPerfil">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- cuerpo del diálogo -->
                <div class="modal-body">
                    <div class="fotoSuperpuesta">
                        <img class="rounded-circle fotoPerfilModal" src="images/<%=idUser%>" alt="Foto del Usuario" width="100" height="100" style="cursor: default;"/>
                    </div>
                    <h4  class="text-center nameModal">⮞ <span id="nombreUserNavBar"><%=nameUser%></span> ⮜</h4>

                    <div class="d-flex align-items-center justify-content-center">
                        <div class="datosUsuarioModal">
                            <div class="fechaCreacionModal"><h5>🔹<strong> Fecha de creación: </strong><%=date %></h5></div>
                            <div class="perfilUserModaal"><h5>🔹<strong> Tipo de perfil: </strong><%= rol %></h5></div>
                            <div class="contraseniaUseerModal">
                                <h5 class="">
                                    <strong>🔹 Contraseña:  </strong>
                                    <input type="password" name="contraModal" class="contraModal" value="<%= password %>" disabled />
                                    <span class="fa fa-fw fa-eye password-icon showPassword" title="Mostrar/Ocultar Contraseña"></span>
                                </h5>
                            </div>
                            <div class="nameUserModal"><h5>🔹<strong> Nombre Usuario: </strong><%= nameUser %></h5></div>
                        </div>
                        <div class="datosAvisosModal">
                            <div class="">
                                <h5>
                                    🔹<strong> Datos de Avisos: </strong>
                                </h5>
                            </div>
                            <div class="ms-4">
                                <% if(rol === 'PAS') { %>
                                    <h5>◽<strong> Avisos gestionados: </strong>
                                        <span id="totalAvisosPerfilModal"></span>
                                    </h5>
                                <%}else{ %>
                                    <h5>◽<strong> Avisos realizados: </strong>
                                        <span id="totalAvisosPerfilModal"></span>
                                    </h5>
                                <%}%> 
                                <h5>◽<strong> Incidencias: </strong>
                                    <span id="incidenciasPerfilModal"></span>
                                </h5>
                                <h5>◽<strong> Sugerencias: </strong>
                                    <span id="sugerenciasPerfilModal"></span>
                                </h5>
                                <h5>◽<strong> Felicitaciones: </strong>
                                    <span id="felicitacionesPerfilModal"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pie del diálogo -->
                <div class="modal-footer borrarborde justify-content-center">
                    <button type="button" class="btn btnCerrarPerfil" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener("load", function() {
           // icono para mostrar contraseña
           showPassword = document.querySelector('.showPassword');
           showPassword.addEventListener('click', () => {
               // elementos input de tipo clave
               contrasenia = document.querySelector('.contraModal');

               if (contrasenia.type === "text") {
                   contrasenia.type = "password"
                   showPassword.classList.toggle("fa-eye-slash");
               } else {
                   contrasenia.type = "text"
                   showPassword.classList.remove('fa-eye-slash');
                   showPassword.classList.remove('fa-eye');
                }
           })
        });
   </script>

    <script type="application/javascript">
        $(document).ready(function() {
            // Cada vez que se pulse el botón de 'Enviar'
            $("#clickModalPerfil").on("click", function() {
                // Obtener el valor contenido en el cuadro de texto. Ir al padre navego
                let idUser = $("#idUserPerfilNavbar").text();
                let rol = $("#rolUserPerfilNavbar").text();
                // Realizar la petición al servidor
                // Método parametrizado
            $.ajax({
                    type: "POST",
                    url: "/modalAvisosPerfilUser",
                    contentType: "application/json",
                    data: JSON.stringify({ idUser: idUser, rol: rol }),
                    // En caso de éxito, mostrar el resultado
                    // en el documento HTML
                    success: function (data, textStatus, jqXHR) {
                        console.log(textStatus);
                        let totalAvisos = data.totalAvisos;
                        let totalSugeren = data.nSuge;
                        let totalInci = data.nInci;
                        let totalFeli = data.nFeli;    
                        $("#totalAvisosPerfilModal").text(Object.values(totalAvisos));
                        $("#incidenciasPerfilModal").text(Object.values(totalInci));
                        $("#sugerenciasPerfilModal").text(Object.values(totalSugeren));
                        $("#felicitacionesPerfilModal").text(Object.values(totalFeli));                     
                    },
                    // En caso de error, mostrar el error producido
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Se ha producido un error: " + errorThrown);
                    }
                });
            }); 
        });
    </script>

</html>