<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("subplantillas/head") %>
    <%- include("subplantillas/navbar") %>

    <table>
      <tr>
          <th>Correo:</th>
          <td><%= usuarios.correo %></td>
      </tr>
      <tr>
          <th>Contraseña:</th>
          <td><%= usuarios.contraseña %></td>
      </tr>
  </table>
  </body>
</html>
