<!DOCTYPE html>
<html>
    <head>
        <title>Información proporcionada</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Formulario procesado</h1>
        <table>
            <tr>
                <th>Correo:</th>
                <td><%= correo %></td>
            </tr>
            <tr>
                <th>Contraseña:</th>
                <td><%= contrasenia %></td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td><%= nombre %></td>
            </tr>
            <tr>
                <th>Opcion Escogida:</th>
                <td><%= opcion %></td>
            </tr>
            <tr>
                <th>Tecnico:</th>
                <td><%= tecnico %></td>
            </tr>
            <tr>
                <th>NumeroEmpleado:</th>
                <td><%= numEmpleado %></td>
            </tr>
        </table>
    </body>
</html>
