<!DOCTYPE html>
<html>
    <head> 
        <%- include("subplantillas/head") %>
        <link rel="stylesheet" href="stylesheets/mainViewTec1.css" media="screen">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    </head>

    <body>
        <%- include("subplantillas/navbar") %>
        <!-- Front del mainViewTec -->
        <div class="containerUser container ">
            <div class="wrap">
                <div class="search d-flex justify-content-end">
                    <span class="me-3 d-flex align-items-center">
                        <input id="checkboxUsers" type="checkbox" class="me-1">
                        <label for="checkboxUsers"><strong>Usuarios</strong></label>
                    </span>
                    <input type="text" class="searchTerm" id="inputBuscador" placeholder="Buscar avisos...">
                    <button type="submit" class="searchButton" onclick="buscador2(this)">
                        <img src="images/lupaVector.svg" title="www.ucm.es" alt="Logo de la UCM" class="lupa">
                    </button>
                </div>
            </div>

            <div class="menuOpciones">
                <button class="botonAvisosEntrantes" onclick="window.location.href='mainViewTec1.html'">
                    Avisos entrantes
                </button>
                <button class="botonMisAvisos" onclick="window.location.href='mainViewTec2.html'">
                    Mis avisos
                </button>
                <button class="botonHistorialAvisos" onclick="window.location.href='mainViewTec3.html'">
                    Historial de Avisos
                </button>
                <button class="botonGestionUsuarios" onclick="window.location.href='mainViewTec4.html'">
                    Gestión de usuarios
                </button>
            </div>

            <table class="tablaTec1" id="tablaTec">
                <% if (Avisos.length > 0) { %>
                    <tr class="cabecera">
                        <th>Tipo 🔱</th>
                        <th>Fecha 📅</th>
                        <th>Texto 📋</th>
                        <th>Acciones 💻</th>
                    </tr>
                    <% Avisos.forEach(function(aviso) { %>
                        <tr>
                            <td style="display:none;">>
                                <h1><%= aviso.idAviso%></h1>
                            </td>
                            <td class="tipos">
                                <% let tipoImg = aviso.tipo %>
                                <% if (tipoImg === 'Sugerencia') { %>
                                    <img src="images/pregunta.png" alt="" width="35" height="35" style="cursor: default;">
                                <% } else if (tipoImg === 'Incidencia') {%> 
                                    <img src="images/exclamacion.png" alt="" width="35" height="35" style="cursor: default;">               
                                <% } else {%> 
                                    <img src="images/ok.png" alt="" width="35" height="35" style="cursor: default;">
                                <% } %> 
                            </td>
                            <td class="fechas"><%= aviso.fecha %></td>
                            <% if(aviso.observaciones.length > 200){ %>
                                <td><%= aviso.observaciones.substr(0,200)%>...</td>
                            <%} else {%>
                                <td><%= aviso.observaciones%></td>
                            <%}%> 
                            <td class="acciones">
                                <% if(aviso.asignado === 1){ %>
                                    <img  src="images/tecnicoNoAsignado.svg" alt="" width="35" height="35" style="cursor: default;">
                                <%} else {%>
                                    <img class="clickModalVisualizar" src="images/tecnicoAsignado.svg" alt="" width="35" height="35" data-bs-toggle="modal" data-bs-target="#modalMisAvisos">
                                <%}%> 
                                <img class="clickModalBorrar" src="images/basura.svg" alt="" width="35" height="35" data-bs-toggle="modal" data-bs-target="#modalBorrarAviso">
                            </td>
                        </tr>
                    <% }); %>
                <% } else {%>
                    <tr class="cabecera">
                        <th>Tipo 🔱</th>
                        <th>Fecha 📅</th>
                        <th>Texto 📋</th>
                        <th>Acciones 💻</th>
                    </tr>
                    <tr class="text-center">
                        <td colspan="4">
                            <strong>
                                Vaya... no tienes avisos entrantes
                            </strong>
                            <div>
                                <img src="images/sinAvisosEntrantes.svg" alt="" width="50" height="50">
                            </div>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    
        <!-- Modal para asignar Técnico -->
        <div class="modal fade" id="modalMisAvisos">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- cabecera del diálogo -->
                    <div class="modal-header">
                        <h4 id="creadoPorModalAviso" class="modal-title"><%=nameUser %></h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- cuerpo del diálogo -->
                    <div class="modal-body">
                        <div class="subEncabezadoModal d-flex justify-content-between">
                            <div><h5>Fecha: <label id="fechaAvisoModal"> </label></h5></div>
                            <div><h5>Aviso nº<i id="idAvisoModal"></i>: <label class="badge rounded-pill pildora" id="tipoAvisoModal"></label></h5></div>
                        </div>
                        <div class="comunicacionesModal">
                            <h5>🔹 <strong id="subtipoAvisoModal"></strong>: <span id="categoriaAvisoModal"></span></h5>
                        </div>
                        <div class="perfilModal"><h5>🔹<strong> Perfil: </strong><%=rol %></h5></div>
                        <div class="observacionesModal">
                            <h5>🔹<strong> Observaciones:</strong></h5>
                            <div class="contenidoObservacion" id="observacionesAvisoModal"></div>
                        </div>
                        <div class="asignarTecnicoModal">
                            <h5>🔸<strong> Asignar tecnico a aviso:</strong></h5>
                            <div class="contenidoAsignacion d-flex justify-content-between">
                                <div>
                                    Seleccione un técnico:
                                    <select name="opciones" required="true" id="seleccionTecnico">

                                        <% if(Tecs.length >0) { %>

                                            <% Tecs.forEach(tecnico => { %>
                                                <option value="opcion0" selected="selected" hidden>Técnicos disponibles...</option>
                                                <option required="true" value="<%= tecnico.nombre %>"  ><%= tecnico.nombre %></option>
                                            <% });%>
                                        <% }else { %>
                                            <option value="opcion0" hidden>No hay tecnicos disponibles</option>
                                        <% } %> 
                                    </select>
                                    <p id="falloAsignar" style="display: none; color: red;">No has seleccionado un tecnico para asignar</p>
                                </div>
                                <button type="submit" class="btnAsignarTecnico">Asignar</button> 
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para eliminar aviso -->
        <%- include("subplantillas/modalEliminarAviso") %>

        <!-- Modal busqueda de usuaios -->
        <%- include("subplantillas/modalBusquedaUsuarios") %>

    </body>
    <!-- Script para poder mostrar modales -->
    <script type="application/javascript" src="javascripts/modalAsignarTecnico.js"></script>    
    <script type="application/javascript" src="javascripts/modalBorrarAviso.js"></script> 
    <script type="application/javascript" src="javascripts/asignarTecnico.js"></script>
    <script type="application/javascript" src="javascripts/borrarAviso.js"></script>
    <script src="javascripts/buscadorGenericoTec.js"></script>

</html>