<!DOCTYPE html>
<html>
    <head>
        <%- include("subplantillas/head") %>
        <link rel="stylesheet" href="stylesheets/mainViewUser2.css" media="screen">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <%- include("subplantillas/navbar") %>
        <!-- Front del mainViewUser -->
        <div class="containerUser container ">
            <div class="wrap">
                <div class="search d-flex justify-content-end">
                    <input type="text" class="searchTerm" id="inputBuscador" placeholder=" Buscar avisos...">
                    <button type="submit" class="searchButton" onclick="buscador(this)">
                        <img src="images/lupaVector.svg" title="www.ucm.es" alt="Logo de la UCM" class="lupa">
                    </button>
                </div>
            </div>
            
            <div class="menuOpciones">
                <button class="botonMisAvisos" onclick="window.location.href='mainViewUser1.html'">
                    Mis avisos
                </button>

                <button class="botonHistorialAvisos" onclick="window.location.href='mainViewUser2.html'">
                    Historial de Avisos
                </button>
            </div>

            <table class="tablaUser2" id="tablaUser">
                <% if (Avisos.length > 0) { %>
                    <tr class="cabecera">
                        <th>Tipo 🔱</th>
                        <th>Fecha 📅</th>
                        <th>Texto 📋</th>
                        <th>Acciones 💻</th>
                    </tr>
                    <% Avisos.forEach(function(aviso) { %>
                        <tr>
                            <td style="display:none;">>
                                <h1><%= aviso.idAviso%></h1>
                            </td>
                            <td class="tipos">
                                <% let tipoImg = aviso.tipo %>
                                <% if (tipoImg === 'Sugerencia') { %>
                                    <img src="images/pregunta.png" alt="" width="35" height="35" style="cursor: default;">
                                <% } else if (tipoImg === 'Incidencia') {%> 
                                    <img src="images/exclamacion.png" alt="" width="35" height="35" style="cursor: default;">               
                                <% } else {%> 
                                    <img src="images/ok.png" alt="" width="35" height="35" style="cursor: default;">
                                <% } %> 
                            </td>
                            <td class="fechas"><%= aviso.fecha %></td>
                            <% if(aviso.observaciones.length > 200){ %>
                                <td><%= aviso.observaciones.substr(0,200)%>...</td>
                            <%} else {%>
                                <td><%= aviso.observaciones%></td>
                            <%}%> 
                            <td class="acciones">
                                <img class="clickModalVisualizar" data-bs-toggle="modal" data-bs-target="#modalAvisos" src="images/visualizarVector.svg" alt="" width="35" height="35">
                            </td>
                        </tr>
                    <% }); %>
                <% } else {%>
                    <tr class="cabecera">
                        <th>Tipo 🔱</th>
                        <th>Fecha 📅</th>
                        <th>Texto 📋</th>
                        <th>Acciones 💻</th>
                    </tr>
                    <tr class="text-center">
                        <td colspan="4">
                            <strong>
                                ¡Vaya!... no tiene historial de avisos.
                            </strong>
                            <div>
                                <img src="images/sinHistorial.png" alt="" width="50" height="50">
                            </div>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
        
        <div>
            <button class="float" data-bs-toggle="modal" data-bs-target="#modalNuevoAviso">
                <img src="images/aniadirAviso.svg" alt="" class="btnFlotante">
            </button>  
        </div>

        <!-- Modal para visualizar un aviso de historial -->
        <%- include("subplantillas/modalVerAviso") %>

        <%- include("subplantillas/btnNuevoAviso") %>
    </body>   
    
    <!-- Script para poder mostrar el modal de visualizar aviso de historial -->
    <script type="application/javascript" src="javascripts/modalVerAviso.js"></script>
    
    <script>
        function buscador(lupa) {
            let varInput = $('#inputBuscador').val().trim().toLowerCase(); // Pillamos el valor del Input (trim para quitar espacios)
            $('#tablaUser').find('tr').each(i => { // Recorro la tabla por cada tr
                if (i === 0) {
                    //Ignora caso de 
                }
                else {
                    $('#tablaUser').find('tr').eq(i).show();
                    if (($($('#tablaUser').find('tr').eq(i)).find('td').eq(3).html()).includes(varInput)) { // Devuelve lo que hay dentro del td (2 por la posicion del texto) y comprobamos con includes si contiene lo de varInput
                        // Nada
                    }
                    else {
                        $('#tablaUser').find('tr').eq(i).hide();
                    }
                }
            });
        }
    </script>

</html>