<!DOCTYPE html>
<html>
    <head> 
        <%- include("subplantillas/head") %>
        <link rel="stylesheet" href="stylesheets/mainViewTec1.css" media="screen">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    </head>

    <body>
        <%- include("subplantillas/navbar") %>
        <!-- Front del mainViewTec -->
        <div class="containerUser container ">
            <div class="wrap">
                <div class="search d-flex justify-content-end">
                    <span class="me-3 d-flex align-items-center">
                        <input id="checkboxUsers" type="checkbox" class="me-1">
                        <label for="checkboxUsers"><strong>Usuarios</strong></label>
                    </span>
                    <input type="text" class="searchTerm" placeholder="Buscar avisos...">
                    <button type="submit" class="searchButton">
                        <img src="images/lupaVector.svg" title="www.ucm.es" alt="Logo de la UCM" class="lupa">
                    </button>
                </div>
            </div>

            <div class="menuOpciones">
                <button class="botonAvisosEntrantes" onclick="window.location.href='mainViewTec1.html'">
                    Avisos entrantes
                </button>
                <button class="botonMisAvisos" onclick="window.location.href='mainViewTec2.html'">
                    Mis avisos
                </button>
                <button class="botonHistorialAvisos" onclick="window.location.href='mainViewTec3.html'">
                    Historial de Avisos
                </button>
                <button class="botonGestionUsuarios" onclick="window.location.href='mainViewTec4.html'">
                    Gestión de usuarios
                </button>
            </div>

            <table class="tablaTec1">
                <% if (Avisos.length > 0) { %>
                    <tr>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Texto</th>
                        <th>Acciones</th>
                    </tr>
                    <% Avisos.forEach(function(aviso) { %>
                        <tr>
                            <td class="tipos">
                                <% let tipoImg = aviso.tipo %>
                                <% if (tipoImg === 'Sugerencia') { %>
                                    <img src="images/pregunta.png" alt="" width="35" height="35">
                                <% } else if (tipoImg === 'Incidencia') {%> 
                                    <img src="images/exclamacion.png" alt="" width="35" height="35">                                    
                                <% } else {%> 
                                    <img src="images/ok.png" alt="" width="35" height="35">                                    
                                <% } %> 
                            </td>
                            <td class="fechas"><%= aviso.fecha %></td>
                            <% if(aviso.observaciones.length > 200){ %>
                                <td><%= aviso.observaciones.substr(0,200)%>...</td>
                            <%} else {%>
                                <td><%= aviso.observaciones%></td>
                            <%}%> 
                            <td class="acciones">
                                <% if(aviso.asignado === 1){ %>
                                    <img src="images/tecnicoAsignado.svg" alt="" width="35" height="35" data-bs-toggle="modal" data-bs-target="#modalMisAvisos">
                                <%} else {%>
                                    <img src="images/tecnicoNoAsignado.svg" alt="" width="35" height="35" data-bs-toggle="modal" data-bs-target="#modalMisAvisos">
                                <%}%> 
                                <img src="images/basura.svg" alt="" width="35" height="35" data-bs-toggle="modal" data-bs-target="#modalBorrarAviso">
                            </td>
                        </tr>
                    <% }); %>
                <% } else {%>
                    <tr>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Texto</th>
                        <th>Acciones</th>
                    </tr>
                    <tr class="text-center">
                        <td colspan="4">
                            <strong>
                                Vaya... no hay avisos sin finalizar 😪
                            </strong>
                            <div>
                                <img src="images/sinMensajes.png" alt="" width="50" height="50">
                            </div>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    
        <!-- Modal para visualizar aviso -->
        <div class="modal fade" id="modalMisAvisos">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- cabecera del diálogo -->
                    <div class="modal-header">
                        <h4 class="modal-title"><%=nameUser %></h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- cuerpo del diálogo -->
                    <div class="modal-body">
                        <div class="subEncabezadoModal d-flex justify-content-between">
                            <div><h5>Fecha: 12/10/2021</h5></div>
                            <div>
                                <h5>
                                    Aviso nº<i>202101020001</i>:
                                    <label class="badge rounded-pill pildoraFelicitacion">
                                        Felicitación
                                    </label>
                                </h5>
                            </div>
                        </div>
                        <div class="comunicacionesModal"><h4>🔹<strong> Comunicaciones: </strong>Correo electrónico</h4></div>
                        <div class="perfilModal"><h4>🔹<strong> Perfil: </strong><%=rol %></h4></div>
                        <div class="observacionesModal">
                            <h4>🔹<strong> Observaciones:</strong></h4>
                            <div class="contenidoObservacion">
                                He solicitado una nueva cuenta de correo electrónico para mi departamento pero no he recibido todavía ninguna respuesta. Por favor es urgente que dispongamos de esa cuenta genérica lo antes posible ya que en breve celebraremos el II Congreso de ciberseguridad y necesitamos esa cuenta para centralizar peticiones. Muchas Gracias.
                            </div>
                        </div>
                        <div class="asignarTecnicoModal">
                            <h4>🔸<strong> Asignar tecnico a aviso:</strong></h4>
                            <div class="contenidoAsignacion d-flex justify-content-between">
                                <div>
                                    Seleccione un técnico:
                                    <select name="opciones" required="true" onChange="seleccionPerfil(this)">
                                        <option value="opcion0" hidden>Técnicos disponibles...</option>
                                        <option value="opcion1">Elver Galarga</option>
                                        <option value="opcion2">Don Andrés Lionel Messi</option>
                                        <option value="opcion3">Álvaro Borja Morata Martín</option>
                                    </select>
                                </div>
                                <button type="submit" class="btnAsignarTecnico">Asignar</button> 
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para eliminar aviso -->
        <div class="modal fade" id="modalBorrarAviso">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- cabecera del diálogo -->
                    <div class="modal-header">
                        <h4 class="modal-title">Felipe Lotas</h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- cuerpo del diálogo -->
                    <div class="modal-body">
                        <div class="subEncabezadoModal d-flex justify-content-between">
                            <div><h5>Fecha: 12/10/2021</h5></div>
                            <div><h5>Aviso nº<i>202101020001</i>: <label class="badge rounded-pill pildora">Sugerencia</label></h5></div>
                        </div>
                        <div class="comunicacionesModal"><h5>🔹<strong> Comunicaciones: </strong>Correo electrónico</h5></div>
                        <div class="perfilModal"><h5>🔹<strong> Perfil: </strong>PDI</h5></div>
                        <div class="observacionesModal">
                            <h5>🔹<strong> Observaciones:</strong></h5>
                            <div class="contenidoObservacion">
                                He solicitado una nueva cuenta de correo electrónico para mi departamento pero no he recibido todavía ninguna respuesta. Por favor es urgente que dispongamos de esa cuenta genérica lo antes posible ya que en breve celebraremos el II Congreso de ciberseguridad y necesitamos esa cuenta para centralizar peticiones. Muchas Gracias.
                            </div>
                        </div>
                        <div class="comentariosModal">
                            <h5>🔸<strong> Comentario del Técnico para la anulación:</strong></h5>
                            <div class="contenidoComentario col-auto">
                                <textarea name="commentTec" class="form-control commentTec" rows="4" placeholder="Escriba una comentario para anulación..."></textarea>
                            </div>
                            <div class="text-end me-3">
                                <button type="submit" id="btnActivo" class="btnFinAviso">Finalizar Aviso</button>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>