<!DOCTYPE html>
<html>
    <head> 
        <%- include("subplantillas/head") %>
        <link rel="stylesheet" href="stylesheets/mainViewTec1.css" media="screen">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    </head>

    <body>
        <%- include("subplantillas/navbar") %>
        <!-- Front del mainViewTec -->
        <div class="containerUser container ">
            <div class="wrap">
                <div class="search d-flex justify-content-end">
                    <span class="me-3 d-flex align-items-center">
                        <input id="checkboxUsers" type="checkbox" class="me-1">
                        <label for="checkboxUsers"><strong>Usuarios</strong></label>
                    </span>
                    <input type="text" class="searchTerm" placeholder="Buscar avisos...">
                    <button type="submit" class="searchButton">
                        <img src="images/lupaVector.svg" title="www.ucm.es" alt="Logo de la UCM" class="lupa">
                    </button>
                </div>
            </div>

            <div class="menuOpciones">
                <button class="botonAvisosEntrantes" onclick="window.location.href='mainViewTec1.html'">
                    Avisos entrantes
                </button>
                <button class="botonMisAvisos" onclick="window.location.href='mainViewTec2.html'">
                    Mis avisos
                </button>
                <button class="botonHistorialAvisos" onclick="window.location.href='mainViewTec3.html'">
                    Historial de Avisos
                </button>
                <button class="botonGestionUsuarios" onclick="window.location.href='mainViewTec4.html'">
                    Gestión de usuarios
                </button>
            </div>

            <table class="tablaTec1" id="tablaUser">
                <% if (Avisos.length > 0) { %>
                    <tr class="cabecera">
                        <th>Tipo 🔱</th>
                        <th>Fecha 📅</th>
                        <th>Texto 📋</th>
                        <th>Acciones 💻</th>
                    </tr>
                    <% Avisos.forEach(function(aviso) { %>
                        <tr>
                            <td style="display:none;">>
                                <h1><%= aviso.idAviso%></h1>
                            </td>
                            <td class="tipos">
                                <% let tipoImg = aviso.tipo %>
                                <% if (tipoImg === 'Sugerencia') { %>
                                    <img src="images/pregunta.png" alt="" width="35" height="35" style="cursor: default;">
                                <% } else if (tipoImg === 'Incidencia') {%> 
                                    <img src="images/exclamacion.png" alt="" width="35" height="35" style="cursor: default;">               
                                <% } else {%> 
                                    <img src="images/ok.png" alt="" width="35" height="35" style="cursor: default;">
                                <% } %> 
                            </td>
                            <td class="fechas"><%= aviso.fecha %></td>
                            <% if(aviso.observaciones.length > 200){ %>
                                <td><%= aviso.observaciones.substr(0,200)%>...</td>
                            <%} else {%>
                                <td><%= aviso.observaciones%></td>
                            <%}%> 
                            <td class="acciones">
                                <% if(aviso.asignado === 1){ %>
                                    <img  src="images/tecnicoNoAsignado.svg" alt="" width="35" height="35">
                                <%} else {%>
                                    <img class="clickModalVisualizar" src="images/tecnicoAsignado.svg" alt="" width="35" height="35" data-bs-toggle="modal" data-bs-target="#modalMisAvisos">
                                <%}%> 
                                <img class="clickModalBorrar" src="images/basura.svg" alt="" width="35" height="35" data-bs-toggle="modal" data-bs-target="#modalBorrarAviso">
                            </td>
                        </tr>
                    <% }); %>
                <% } else {%>
                    <tr class="cabecera">
                        <th>Tipo 🔱</th>
                        <th>Fecha 📅</th>
                        <th>Texto 📋</th>
                        <th>Acciones 💻</th>
                    </tr>
                    <tr class="text-center">
                        <td colspan="4">
                            <strong>
                                Vaya... no tienes avisos entrantes
                            </strong>
                            <div>
                                <img src="images/sinAvisosEntrantes.svg" alt="" width="50" height="50">
                            </div>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    
        <!-- Modal para visualizar aviso -->
        <div class="modal fade" id="modalMisAvisos">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- cabecera del diálogo -->
                    <div class="modal-header">
                        <h4 id="creadoPorModalAviso" class="modal-title"><%=nameUser %></h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- cuerpo del diálogo -->
                    <div class="modal-body">
                        <div class="subEncabezadoModal d-flex justify-content-between">
                            <div><span>Fecha:</span> <h5 id="fechaAvisoModal"> 12/10/2021</h5></div>
                            <div>
                                <h5>
                                    Aviso nº<i id="idAvisoModal">202101020001</i>:
                                    <label class="badge rounded-pill pildoraFelicitacion" id="tipoAvisoModal">
                                        Felicitación
                                    </label>
                                </h5>
                            </div>
                        </div>
                        <div class="comunicacionesModal"><span>🔹<strong id="subtipoAvisoModal" style="display: none;"> Comunicaciones: </strong></span><h5  id="categoriaAvisoModal" >Correo electrónico</h5></div>
                        <div class="perfilModal"><h4>🔹<strong> Perfil: </strong><%=rol %></h4></div>
                        <div class="observacionesModal">
                            <h4>🔹<strong> Observaciones:</strong></h4>
                            <div class="contenidoObservacion" id="observacionesAvisoModal">
                                He solicitado una nueva cuenta de correo electrónico para mi departamento pero no he recibido todavía ninguna respuesta. Por favor es urgente que dispongamos de esa cuenta genérica lo antes posible ya que en breve celebraremos el II Congreso de ciberseguridad y necesitamos esa cuenta para centralizar peticiones. Muchas Gracias.
                            </div>
                        </div>
                        <div class="asignarTecnicoModal">
                            <h4>🔸<strong> Asignar tecnico a aviso:</strong></h4>
                            <div class="contenidoAsignacion d-flex justify-content-between">
                                <div>
                                    Seleccione un técnico:
                                    <select name="opciones" required="true" id="seleccionTecnico">

                                        <% if(Tecs.length >0) { %>

                                            <% Tecs.forEach(tecnico => { %>
                                                <option value="opcion0" selected="selected" hidden>Técnicos disponibles...</option>
                                                <option value="<%= tecnico.nombre %>" ><%= tecnico.nombre %></option>
                                            <% });%>
                                        <% }else { %>
                                            <option value="opcion0" hidden>No hay tecnicos disponibles</option>
                                        <% } %> 
                                    </select>
                                </div>
                                <button type="submit" class="btnAsignarTecnico">Asignar</button> 
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para eliminar aviso -->
        <%- include("subplantillas/modalEliminarAviso") %>

    </body>
    <!-- Script para poder mostrar modales -->
    <script type="application/javascript" src="javascripts/modalVerAviso.js"></script>    
    <script type="application/javascript" src="javascripts/modalBorrarAviso.js"></script> 
    <script type="application/javascript" src="javascripts/asignarTecnico.js"></script>
    <script>
        $("#eliminarAvisoModal button[type=submit]").on("click", function(){
            let comTecnico = $("#comentarioBorrarAviso").val();
            console.log(comTecnico);
            let nameTecnico =  $("#nombreUserNavBar").text();
            console.log(nameTecnico);
            let idAviso =  $("#idAvisoModalBorrar").text();
            console.log(idAviso);
            $.ajax({
                type: "POST",
                url: "/borrarAviso",
                contentType: "application/json",
                data: JSON.stringify({ comTecnico: comTecnico, nameTecnico: nameTecnico, idAviso: idAviso  }),
                // En caso de éxito, mostrar el resultado
                // en el documento HTML
                success: function (data, textStatus, jqXHR) {
                    console.log(textStatus);   
                    location.reload()
                    console.log("Aviso borrado exitosamente: "+ data.idAviso);                   
                },
                // En caso de error, mostrar el error producido
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Se ha producido un error: " + errorThrown);
                }
            });
        });

    </script>


</html>