<!DOCTYPE html>
<html>
    <head>
        <%- include("subplantillas/head") %>
        <link rel="stylesheet" href="stylesheets/mainViewUser2.css" media="screen">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <%- include("subplantillas/navbar") %>
        <!-- Front del mainViewUser -->
        <div class="containerUser container ">
            <div class="wrap">
                <div class="search d-flex justify-content-end">
                    <input type="text" class="searchTerm" placeholder="Buscar avisos...">
                    <button type="submit" class="searchButton">
                        <img src="images/lupaVector.svg" title="www.ucm.es" alt="Logo de la UCM" class="lupa">
                    </button>
                </div>
            </div>
            
            <div class="menuOpciones">
                <button class="botonMisAvisos" onclick="window.location.href='mainViewUser1.html'">
                    Mis avisos
                </button>

                <button class="botonHistorialAvisos" onclick="window.location.href='mainViewUser2.html'">
                    Historial de Avisos
                </button>
            </div>

            <table class="tablaUser2">
                <% if (Avisos.length > 0) { %>
                    <tr>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Texto</th>
                        <th>Acciones</th>
                    </tr>
                    <% Avisos.forEach(function(aviso) { %>
                        <tr>
                                <td style="display:none;">>
                                    <h1><%= aviso.idAviso%></h1>
                                </td>
                                <td class="tipos">
                                    <% let tipoImg = aviso.tipo %>
                                    <% if (tipoImg === 'Sugerencia') { %>
                                        <img src="images/pregunta.png" alt="" width="35" height="35">
                                    <% } else if (tipoImg === 'Incidencia') {%> 
                                        <img src="images/exclamacion.png" alt="" width="35" height="35">              
                                    <% } else {%> 
                                        <img src="images/ok.png" alt="" width="35" height="35">
                                    <% } %> 
                                </td>
                                <td class="fechas"><%= aviso.fecha %></td>
                                <% if(aviso.observaciones.length > 200){ %>
                                    <td><%= aviso.observaciones.substr(0,200)%>...</td>
                                <%} else {%>
                                    <td><%= aviso.observaciones%></td>
                                <%}%> 
                                <td class="acciones">
                                    <img class="clickModal" data-bs-toggle="modal" data-bs-target="#modalAvisos" src="images/visualizarVector.svg" alt="" width="35" height="35">
                                </td>
                        </tr>
                    <% }); %>
                <% } else {%>
                    <thead>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Texto</th>
                        <th>Acciones</th>
                    </thead>
                    <tr class="text-center">
                        <td colspan="4">
                            <strong>
                                Vaya... no tienes historial de avisos
                            </strong>
                            <div>
                                <img src="images/sinMensajes.png" alt="" width="50" height="50">
                            </div>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
        
        <div>
            <button class="float" data-bs-toggle="modal" data-bs-target="#modalNuevoAviso">
                <img src="images/aniadirAviso.svg" alt="" class="btnFlotante">
            </button>  
        </div>

        <!-- Modal para visualizar un aviso de historial -->
        <div class="modal fade" id="modalAvisos">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- cabecera del diálogo -->
                    <div class="modal-header">
                        <h4 class="modal-title"><%=nameUser %></h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- cuerpo del diálogo -->
                    <div class="modal-body">
                        <div class="subEncabezadoModal d-flex justify-content-between">
                            <div><span>Fecha:</span> <h5 id="fechaAvisoModal"> 12/10/2021</h5></div>
                            <div><h5>Aviso nº<i id="idAvisoModal">202101020001</i>: <label class="badge rounded-pill pildora" id="tipoAvisoModal">Sugerencia</label></h5></div>
                        </div>
                        <div class="comunicacionesModal"><span>🔹<strong id="subtipoAvisoModal" style="display: none;"> Comunicaciones: </strong></span><h5  id="categoriaAvisoModal" >Correo electrónico</h5></div>
                        <div class="perfilModal"><h5>🔹<strong> Perfil: </strong><%=rol %></h5></div>
                        <div class="observacionesModal">
                            <h5>🔹<strong> Observaciones:</strong></h5>
                            <div class="contenidoObservacion" id="observacionesAvisoModal">
                                He solicitado una nueva cuenta de correo electrónico para mi departamento pero no he recibido todavía ninguna respuesta. Por favor es urgente que dispongamos de esa cuenta genérica lo antes posible ya que en breve celebraremos el II Congreso de ciberseguridad y necesitamos esa cuenta para centralizar peticiones. Muchas Gracias.
                            </div>
                        </div>
                        <div class="comentariosModal">
                            <h5>🔸<strong> Comentarios del Técnico:</strong></h5>
                            <div class="contenidoComentario" id="comentarioAvisoModal">
                                Macho solicitas los que quieras que yo estoy a punto de eliminarte la cuenta. Más te vale aprobar todo cabroncete ;)
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>

        <%- include("subplantillas/btnNuevoAviso") %>
    </body>   
    
    <script type="application/javascript">
        $(document).ready(function() {
            // Cada vez que se pulse el botón de 'Enviar'
            $(".clickModal").on("click", function() {
                // Obtener el valor contenido en el cuadro de texto. Ir al padre navego
                let valor = $($($(this).parents("tr")).find("td")).find("h1").eq(0).html();
                console.log($($($(this).parents("tr")).find("td")).find("h1").eq(0).html());
                // Realizar la petición al servidor
                // Método parametrizado
             $.ajax({
                    type: "POST",
                    url: "/modalAviso",
                    contentType: "application/json",
                    data: JSON.stringify({ idAviso: valor }),
                    // En caso de éxito, mostrar el resultado
                    // en el documento HTML
                    success: function (data, textStatus, jqXHR) {
                        console.log(textStatus);
                        let taskDevuelto = data.taskModal;
                        console.log(taskDevuelto);                        
                        if (taskDevuelto.tipo ==='Sugerencia' ) {
                            $("#subtipoAvisoModal").text(taskDevuelto.subtipo);
                            $("#subtipoAvisoModal").show();
                            $("#tipoAvisoModal").toggleClass("pildoraSugerencia");
                        }else if (taskDevuelto.tipo ==='Incidencia') {
                            $("#subtipoAvisoModal").text(taskDevuelto.subtipo);
                            $("#subtipoAvisoModal").show();
                            $("#tipoAvisoModal").toggleClass("pildoraIncidencia");
                        } else {
                            $("#subtipoAvisoModal").hide()
                            $("#tipoAvisoModal").toggleClass("pildoraFelicitacion");
                        }
                        $("#idAvisoModal").text(taskDevuelto.idAviso);
                        $("#tipoAvisoModal").text(taskDevuelto.tipo);
                        $("#categoriaAvisoModal").text(taskDevuelto.categoria);
                        $("#fechaAvisoModal").text(taskDevuelto.fecha);
                        $("#observacionesAvisoModal").text(taskDevuelto.observaciones);
                        if (taskDevuelto.comentario === null) {
                            $("#comentarioAvisoModal").text("Aún no tiene comentarios del técnico en este aviso");
                        }else { $("#comentarioAvisoModal").text(taskDevuelto.comentario);}
                    },
                    // En caso de error, mostrar el error producido
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Se ha producido un error: " + errorThrown);
                    }
                });
            }); 
        });
    </script>
</html>